body { margin:0; font-family:Arial; background:#111; color:white; }
.top-bar { display:flex; align-items:center; height:65px; padding:0 15px; background:#181818; border-bottom:1px solid #333; position:fixed; width:100%; z-index:10;}
.user-info { display:flex; align-items:center; gap:10px; font-weight:bold; cursor:pointer; }
.avatar { width:35px; height:35px; border-radius:50%; }
.chat-box { padding:80px 20px 70px 20px; overflow-y:auto; height:calc(100vh - 135px); }
.message { max-width:70%; padding:10px 14px; border-radius:12px; margin:8px 0; font-size:16px; display:flex; align-items:flex-start; gap:10px; }
.them { background:#007AFF; margin-right:auto; border-bottom-left-radius:4px; }
.me { background:#FF4155; margin-left:auto; border-bottom-right-radius:4px; }
.pfp { width:30px; height:30px; border-radius:50%; flex-shrink:0; }
.timestamp { font-size:10px; color:#ccc; margin-left:auto; align-self:flex-end; }
.input-area { position:fixed; bottom:0; width:100%; display:flex; gap:10px; padding:10px; background:#181818; border-top:1px solid #333; }
#message-input { flex:1; padding:13px; border-radius:18px; border:none; background:#222; color:white; outline:none; }
#send-btn { width:50px; border:none; border-radius:50%; background:#222; color:white; font-size:20px; cursor:pointer; }
.media { max-width:200px; max-height:200px; border-radius:12px; margin-top:5px; }
