body {
    margin: 0;
    background: #111;
    font-family: Arial;
    color: white;
}

/* Header */
.top-bar {
    background: #181818;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #333;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* CHAT AREA */
.chat-box {
    padding: 20px;
    height: calc(100vh - 135px);
    overflow-y: auto;
}

.message {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 12px;
    margin: 8px 0;
    font-size: 16px;
}

/* Their messages (Blue like Snapchat) */
.them {
    background: #007AFF;
    margin-right: auto;
    border-bottom-left-radius: 4px;
}

/* My messages (Red like Snapchat) */
.me {
    background: #FF4155;
    margin-left: auto;
    border-bottom-right-radius: 4px;
}

/* Input Box */
.input-area {
    background: #181818;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#message-input {
    flex: 1;
    background: #222;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 18px;
    outline: none;
}

#send-btn {
    width: 50px;
    border: none;
    background: #222;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
